.legal-main-container{
    .lp-header-section{
        background-color: var(--lp-white)!important;
        box-shadow: var(--lp-menu-shadow);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9;
        transition: height 0.3s;
        &.mat-header-isloading{
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-top: 0.5rem;
        }
    }
}
.legal-mat-drawer-container {
    background-color: var(--lp-background) !important;
    min-height: 100vh;
    padding-top: 64px;
    transition: padding 0.3s;
    .legal-mat-drawer-sidenav{
        padding-top: 64px;
        &.mat-drawer-opened{
            width: 300px;
            box-shadow: var(--lp-card-shadow);
            transition: width 0.3s;   
        }
        &:not(.mat-drawer-opened){
            transform: translate3d(0, 0, 0) !important;
            visibility: visible !important;
            width: 60px !important;
            overflow: hidden;
            display: block;
            box-shadow: var(--lp-card-shadow)!important;
            transition: width 0.3s;            
            .lp-mat-nav-list{
                .mdc-list-item__primary-text{
                    span {
                        display: none;
                    }
                }
            }
        }
        .mat-drawer-inner-container{
            display: flex;
            align-items: center;
            app-sidenav{
                width: 100%;
            }
        }
    }
    .legal-mat-drawer-content{
        margin-left: 64px;
    }
}
.mat-drawer-backdrop{
    &.mat-drawer-shown {
        display:none;
    }
}