<div class="legal-main-container">
    <mat-toolbar class="lp-header-section" [ngClass]="{'mat-header-isloading': isLoading, '': !isLoading}">
        <ngx-skeleton-loader [theme]="{width:'30px', height:'30px','margin':'0'}" appearance="line" *ngIf="isLoading" />
        <button mat-icon-button (click)="drawer.toggle()" *ngIf="!isLoading">
            <mat-icon class="material-symbols-outlined" (mouseenter)="openSidenav()">menu</mat-icon>
        </button>
        <app-header class="w-100"></app-header>
    </mat-toolbar>
    <mat-drawer-container autosize class="legal-mat-drawer-container">
        <mat-drawer mode="over" #drawer [opened]="isSidenavOpened"
        (mouseenter)="openSidenav()"
        (mouseleave)="closeSidenav()" class="legal-mat-drawer-sidenav">
            <app-sidenav></app-sidenav>
        </mat-drawer>
        <mat-drawer-content class="legal-mat-drawer-content">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
  </div>