.lp-custom-snackbar{
    display: flex;
    align-items: center;
    padding: 8px 14px;
    gap: 0.5rem;
    border-radius: 4px;
    font-size: 16px;
    min-height: 60px;
    mat-icon{
        flex: 1 0 24px;
    }
    &.snackbar-success {
        background-color: var(--lp-success);
        color: var(--lp-white);
    }    
    &.snackbar-error {
        background-color: var(--lp-warning);
        color: var(--lp-white);
    }    
    &.snackbar-warning {
        background-color: var(--lp-text-warning);
        color: var(--lp-black);
    }    
    &.snackbar-info {
        background-color: var(--lp-primary);
        color: var(--lp-white);
    }    
}
.mdc-snackbar__label {
    padding: 0;
}
.mdc-snackbar__surface {
    padding: 0;
}