<div class="main-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="accounts-title-section">
                <h2>Accounts</h2>
                <button mat-raised-button color="primary" (click)="addAccount()">Add account</button>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card accounts-card-cont">
              <div class="accounts-card-header dense-2">      
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Search..." #keywordInput (input)="searchAccounts(keywordInput.value)">
                  <mat-icon  (click)="searchAccounts(keywordInput.value)" class="material-symbols-outlined" matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort (matSortChange)="sortAccounts($event)" *ngIf="ELEMENT_DATA.length > 0">
                  
                    <!-- Account Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef  mat-sort-header="name"> Account name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef  mat-sort-header="email"> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                  
                    <!-- Phone Column -->
                    <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef> Phone </th>
                      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                    </ng-container>
                  
                    <!-- Action Instance Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">                             
                            <div class="accounts-table-action">
                                <mat-icon class="material-symbols-outlined" (click)="openUpdateAccountDialog(element)">edit</mat-icon>
                                <mat-icon class="material-symbols-outlined" (click)="openDeleteAccountDialog(element.id)">delete</mat-icon>
                            </div>
                        </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>                                    
                  <mat-paginator *ngIf="totalCount > pageSizeOptions[0]"
                                 [length]="totalCount"
                                 [pageSize]="pageSize"
                                 [pageSizeOptions]="pageSizeOptions"
                                 [pageIndex]="pageIndex"
                                 showFirstLastButtons
                                 aria-label="Accounts table pagination"
                                 (page)="onPageChange($event)">
                  </mat-paginator>
            </div>
        </div>
    </div>
</div>
