<!-- <nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item"><a [routerLink]="['/home']">Home</a></li>
    <li class="nav-item"><a [routerLink]="['/public']">Public Page</a></li>
    <li class="nav-item"><a [routerLink]="['/private']">Private Page</a></li>
  </ul>
</nav>
<div class="user-actions">
  <button mat-raised-button *ngIf="!isUserLoggedIn" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="isUserLoggedIn" (click)="logout()">Logout</button>
</div> -->
<app-layout></app-layout>
