.add-application-modal-conrailer {
  .upload-application-icon-title {
    font-size: 0.75rem;
    margin-bottom: 0.05rem;
  }

  .upload-application-icon-container {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-self: center;
    border: 2px dashed var(--lp-text-light);
    border-radius: 6px;
    gap: 0.75rem;
    height: 56px;
    overflow: hidden;
    .title {
      font-size: 0.9rem;
    }
    button.remove-img{
      display: none;
    }
    .upload-application-icon {
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(var(--lp-primary-rgb), 0.25);
    }

    &.img-uploaded {
      padding: 0;     
      position: relative;
      button.remove-img {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        display: block;
        mat-icon {
          display: block;
          color: var(--lp-warning);
        }
      }

      .img-preview {
        display: block !important;
        width: 56px;
        height: 56px;
        background-size: cover;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
      }

      .upload-application-icon, .title, .upload-icon {
        display: none;
      }
    }

    .upload-icon {
      background: var(--lp-primary);
      color: var(--lp-white)
    }
  }
  .upload-application-icon-error {
    font-size: 12px;
    padding-left: 12px;
}
  .app-constraint-title {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .add-application-constraints-row {
    display: flex;
    flex-direction: column;

    .add-application-constraints-col {
      display: flex;
      align-items: center;
      flex: 1;
      width: 100%;
      gap: 0.5rem;

      .row {
        width: 100%;
      }

      .aac-action {
        margin-bottom: 1.25rem;
      }

      &.incremental {
        justify-content: center;
        padding-bottom: 0.5rem;

        button {
          height: 40px;
        }
      }
    }
  }
}
