<div mat-dialog-container class="lp-common-modal-container add-application-modal-conrailer">
  <!-- Progress Bar -->
  <div *ngIf="progressBar">
    <mat-progress-bar mode="indeterminate" value="30"></mat-progress-bar>
  </div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Add Application</span>
      <button mat-icon-button mat-dialog-close>
        <mat-icon class="material-symbols-outlined">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <form novalidate (ngSubmit)="addApplication()" #f="ngForm">
    <mat-dialog-content>
      <div class="row">
        <div class="col-sm-12 col-md-6" style="padding-top: 1.35rem;">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Application Name</mat-label>
            <input matInput [(ngModel)]="applicationName" name="applicationName" required>
            <mat-error *ngIf="f.controls['applicationName']?.invalid && (f.controls['applicationName'].dirty || f.controls['applicationName'].touched)">
              Application Name is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <h5 class="upload-application-icon-title">
            Application logo
          </h5>
          <div class="upload-application-icon-container" [class.img-uploaded]="applicationImageUrl">
            <div class="img-preview" *ngIf="applicationImageUrl" [ngStyle]="{'background-image': 'url(' + applicationImageUrl + ')'}">
            </div>
            <input type="file" (change)="handleImageInput($event)" style="display: none;" #fileInput required>
            <!-- <div class="upload-application-icon">
              <mat-icon class="material-symbols-outlined">upload</mat-icon>
            </div>           -->
            <button (click)="fileInputClick()" mat-raised-button class="upload-icon">Upload</button>
            <div class="title"> Choose Application logo</div>
            <button mat-icon-button class="remove-img" (click)="removeImage()"><mat-icon class="material-symbols-outlined">delete</mat-icon></button>
          </div>
          <mat-error class="upload-application-icon-error" *ngIf="f.controls['applicationName']?.invalid && (f.controls['applicationName'].dirty || f.controls['applicationName'].touched)">
            Application Logo is required.
          </mat-error>
        </div>
        <div class="col-sm-12">
          <h5 class="app-constraint-title">Constraints</h5>
          <div class="add-application-constraints-row dense-2">
            <div class="add-application-constraints-col" *ngFor="let constraint of constraints; let i=index">
              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Constraint key</mat-label>
                    <input matInput [(ngModel)]="constraint.key" name="constraintTitle{{i}}" required>
                    <mat-error *ngIf="f.controls['constraintTitle'+i]?.invalid && (f.controls['constraintTitle'+i].dirty || f.controls['constraintTitle'+i].touched)">
                      Constraints key is required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Constraint Label</mat-label>
                    <input matInput [(ngModel)]="constraint.label" name="constraintLabel{{i}}" required>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Default Action</mat-label>
                    <mat-select [(ngModel)]="constraint.defaultAction" name="defaultAction{{i}}" required>
                      <mat-option *ngFor="let policy of violationPolicies" [value]="policy">
                        {{ policy }} Policy
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.controls['defaultAction'+i]?.invalid && (f.controls['defaultAction'+i].dirty || f.controls['defaultAction'+i].touched)">
                      Default Action is required.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="aac-action">
                <button mat-icon-button (click)="removeConstraint(i)">
                  <mat-icon class="material-symbols-outlined">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="add-application-constraints-col incremental">
            <button mat-stroked-button (click)="addNewConstraint($event)">
              <mat-icon class="material-symbols-outlined">add</mat-icon>
              <span>Add new Constraints</span>
            </button>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="f?.invalid">Add</button>
    </mat-dialog-actions>
  </form>
</div>
