.application-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    overflow: hidden;
    &.selected{
        border: 2px solid var(--lp-primary);
    }
    .card-image{
        width: 60px;
        height: 60px;
        background-color: var(--lp-background);
        img{
            width: 100%;
        }
    }
    .card-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 0.75rem;
        .card-title{
            font-size: 1.25rem;
            margin: 0;
        }
        .card-action {
            display: flex;
            align-items: center;
            .selected-icon {
                display: flex;
                color: var(--lp-primary);
            }
        }     
    }
}
.add-new-application-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 60px;
    font-size: 1.15rem;
    background: var(--lp-background);
    border: 3px dashed var(--lp-grey);
    color: var(--lp-grey);
    cursor: pointer;
}
.application-instance-title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    h2{
        margin: 0;
    }
    button{
        background-color: var(--lp-primary);
    }
}
.application-instance-table-card{
    padding: 10px 10px 5px 10px;
    .application-instance-table-header {
        display: flex;
        justify-content: flex-end;
        mat-form-field {
            margin-bottom: -1.25em;
        }
    }
    table{        
        border-bottom: 1px solid rgba(var(--lp-text-light-rgb),0.8);
        tr{
            th{
                font-size: 1.1rem;
                font-weight: 500;
            }
            td{
                &:first-child{
                    font-weight: 500;
                }
                .application-instance-app-title {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    mat-icon {
                        font-size: 1rem;
                        width: 1rem;
                        height: 1rem;
                    }
                    &:hover{
                        color: var(--lp-primary);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.app-instance-table-action{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    mat-icon{
        &:hover{
            cursor: pointer;
        }
    }
}