<div class="main-container">
  <div class="row">
    <!-- Skeleton Loaders for Card Content -->
    <div class="col-sm-12">
      <div class="application-title-section">
        <ngx-skeleton-loader count="1" [theme]="{width:'200px',height:'20px','margin-bottom': '0.5rem', 'background-color': '#e7edf4', animation: 'pulse'}" appearance="line" *ngIf="isLoading" />
        <ngx-skeleton-loader count="1" [theme]="{width:'200px',height:'40px','margin-bottom': '0.5rem', 'background-color': '#e7edf4', animation: 'pulse'}" appearance="line" *ngIf="isLoading" />
        <!-- Application section -->
        <h2 *ngIf="!isLoading">Applications</h2>
        <button mat-raised-button *ngIf="!isLoading" (click)="openAddApplicationDialog()">Add Application</button>
      </div>
    </div>
    <!-- Application cards -->
    <div class="col-sm-12 col-md-3" *ngFor="let app of applications; let i = index">
      <ngx-skeleton-loader count="1" [theme]="{width:'100%',height:'60px','border-radius': '6px','margin-bottom': '0.75rem', 'background-color': '#e7edf4', animation: 'pulse'}" appearance="line" *ngIf="isLoading" />
      <app-card [id]="app.id"
                [title]="app.name"
                [image]="app.image"
                [selected]="app.selected"
                [isDefault]="app.isDefault"
                (update)="openUpdateApplicationDialog(app.id)"
                (delete)="openDeleteApplicationDialog(app.id)"
                (setAsDefault)="setApplicationAsDefault($event)"
                (cardClick)="onCardClick(app.id)"
                *ngIf="!isLoading">
      </app-card>
    </div>

    <!-- No Data Template -->
    <app-no-data-template *ngIf="!isLoading && applications.length === 0"
                          [icon]="'apps'"
                          [title]="'No applications were found.'">
      <!--[description]="">-->
    </app-no-data-template>
  </div>

  <div class="application-instance-title-section">
    <ngx-skeleton-loader count="1" [theme]="{width:'250px',height:'20px','margin-bottom': '0.5rem', 'background-color': '#e7edf4', animation: 'pulse'}" appearance="line" *ngIf="isLoading" />
    <ngx-skeleton-loader count="1" [theme]="{width:'200px',height:'40px','margin-bottom': '0.5rem', 'background-color': '#e7edf4', animation: 'pulse'}" appearance="line" *ngIf="isLoading" />
    <!-- Application Instance section -->
    <h2 *ngIf="!isLoading">Application Instance</h2>
    <!-- Add Application Instance button -->
    <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="openAddApplicationInstanceDialog()">Add Application Instance</button>
  </div>

  <div class="card application-instance-table-card" *ngIf="isLoading">
    <!-- Skeleton Loaders for Card Content -->
    <div class="application-instance-table-header dense-2">
      <ngx-skeleton-loader count="1" [theme]="{width:'200px',height:'40px','margin': '0 0 0.5rem', 'background-color': '#e7edf4', animation: 'pulse'}" appearance="line" />
    </div>
    <ngx-skeleton-loader count="6" [theme]="{width:'100%',height:'36px','margin-bottom': '0.25rem', 'background-color': '#e7edf4', animation: 'pulse'}" appearance="line" />
    <div class="application-instance-table-header dense-2">
      <ngx-skeleton-loader count="1" [theme]="{width:'400px',height:'40px','margin': '0 0 0.5rem', 'background-color': '#e7edf4', animation: 'pulse'}" appearance="line" />
    </div>
  </div>



  <!-- Application Instances Table -->
  <div class="card application-instance-table-card" *ngIf="!isLoading && searchActive">
    <div class="application-instance-table-header dense-2" *ngIf="searchActive">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Search..." #keywordInput (input)="searchApplicationInstances(keywordInput.value)">
        <mat-icon (click)="searchApplicationInstances(keywordInput.value)" class="material-symbols-outlined" matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <!-- Data Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z" matSort (matSortChange)="sortApplicationInstances($event)" *ngIf="ELEMENT_DATA.length > 0">
      <!-- Account Column -->
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="account"> Account </th>
        <td mat-cell *matCellDef="let element"> <div class="application-instance-app-title" (click)="openBottomSheet(element.id)">{{element.account.name}} <mat-icon class="material-symbols-outlined">north_east</mat-icon></div></td>
      </ng-container>

      <!-- Instance Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Instance </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Tenants Column -->
      <ng-container matColumnDef="tenants">
        <th mat-header-cell *matHeaderCellDef> Tenants </th>
        <td mat-cell *matCellDef="let element">
          <span *ngFor="let tenant of element.tenants; let last = last">
            {{ tenant.name }}{{ !last ? ', ' : '' }}
          </span>
        </td>
      </ng-container>

      <!-- Creation Date Column -->
      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="createdon"> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.createdOn | date: 'dd/MM/yyyy HH:mm a' }} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <div class="app-instance-table-action">
            <mat-icon class="material-symbols-outlined" (click)="openUpdateApplicationInstanceDialog(element.id)">edit</mat-icon>
            <mat-icon class="material-symbols-outlined" (click)="openDeleteApplicationInstanceDialog(element.id)">delete</mat-icon>
          </div>
        </td>
      </ng-container>

      <!-- Define row click action -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!--Pagination-->
    <mat-paginator *ngIf="totalCount > pageSizeOptions[0]"
                   [length]="totalCount"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="pageIndex"
                   showFirstLastButtons
                   aria-label="Application table pagination"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>

  <!-- No Data Template -->
  <app-no-data-template *ngIf="!isLoading && ELEMENT_DATA.length === 0"
                        [icon]="'apps'"
                        [title]="'No application Instances were found.'">
    <!--[description]="">-->
  </app-no-data-template>
</div>
