<div class="main-container">
  <div class="row">
    <div class="col-sm-12 col-md-3" *ngFor="let app of applications; let i = index">
      <app-card [id]="app.id"
                [title]="app.name"
                [image]="app.image"
                [selected]="app.selected"
                (delete)="deleteApplication($event)"
                (setAsDefault)="setApplicationAsDefault($event)">
      </app-card>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card add-new-application-card" (click)="openDialog()">
        <mat-icon class="material-symbols-outlined">add</mat-icon>
        <span>Add Application</span>
      </div>
    </div>
  </div>
</div>

