.add-subscription-plan-modal{    
    .app-constraint-title{
        font-size: 1rem;
    }
    .enable-application-constraints-row{
        display: flex;
        flex-direction: column;
        .enable-application-constraints-col{
            display: flex;
            align-items: center;
            flex: 1;
            width: 100%;
            gap: 0.5rem;
            .row{
                width: 100%;
            }
            .aac-action{
                margin-bottom: 1.25rem;
                flex: 0 0 80px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background{
                    border-color: var(--lp-primary);
                    background-color: var(--lp-primary);
                }
                .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after, .mdc-switch:enabled .mdc-switch__track::after {
                    background: var(--lp-primary);
                }
            }
        }
    }
}