<div class="main-container">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <h2>Welcome Onboard</h2>
        <div class="card onboarding-card">
            <mat-tab-group class="conboarding-tab-wizard" [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChanged($event)">
                <mat-tab>                   
                    <ng-template mat-tab-label>
                        <div class="on-boarding-header-cont">
                            <div class="ob-step-number">1</div>
                            <div class="ob-title-section">                                
                                <div class="ob-header-title">Account</div>                            
                                <div class="ob-header-subtitle">Account details</div>
                            </div>
                        </div>
                    </ng-template>
                    <div class="ob-container-section">
                        <div class="row dense-2">
                            <div class="col-sm-12">                                        
                                <div class="ob-cont-title">Account</div>                            
                                <div class="ob-cont-subtitle">Please fill the following details.</div>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Account name</mat-label>
                                  <input matInput>
                                </mat-form-field>                                          
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Account email</mat-label>
                                  <input type="email" matInput>
                                </mat-form-field>                                          
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Account phone</mat-label>
                                  <input type="tel" matInput>
                                </mat-form-field>                                          
                            </div>
                        </div>   
                    </div>
                </mat-tab>              
                <mat-tab> 
                    <ng-template mat-tab-label>
                        <div class="on-boarding-header-cont">
                            <div class="ob-step-number">2</div>
                            <div class="ob-title-section">                                
                                <div class="ob-header-title">Application</div>                            
                                <div class="ob-header-subtitle">Application, Instance details</div>
                            </div>
                        </div>
                    </ng-template>                    
                    <div class="ob-container-section">
                        <div class="row dense-2">
                            <div class="col-sm-12">                                        
                                <div class="ob-cont-title">Application</div>                            
                                <div class="ob-cont-subtitle">Please fill the following details.</div>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Application</mat-label>
                                  <input matInput>
                                </mat-form-field>                                          
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Account</mat-label>
                                  <input matInput disabled value="datahub">
                                </mat-form-field>                                          
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Tenant name</mat-label>
                                  <input type="tel" matInput>
                                </mat-form-field>                                          
                            </div>
                        </div>   
                    </div> 
                </mat-tab>              
                <mat-tab><ng-template mat-tab-label>
                    <div class="on-boarding-header-cont">
                        <div class="ob-step-number">3</div>
                        <div class="ob-title-section">                                
                            <div class="ob-header-title">Subscription Plan</div>                            
                            <div class="ob-header-subtitle">Choose Subscription Plan</div>
                        </div>
                    </div>
                </ng-template>
                <div class="ob-container-section">
                Subscription plans here                        
                </div>
                </mat-tab>          
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="on-boarding-header-cont">
                            <div class="ob-step-number">4</div>
                            <div class="ob-title-section">                                
                                <div class="ob-header-title">License</div>                            
                                <div class="ob-header-subtitle">Choose License</div>
                            </div>
                        </div>
                    </ng-template>                    
                    <div class="ob-container-section">
                        <div class="row dense-2">
                            <div class="col-sm-12">                                        
                                <div class="ob-cont-title">License</div>                            
                                <div class="ob-cont-subtitle">Please fill the following details.</div>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Environment</mat-label>
                                  <mat-select>
                                    <mat-option value="option1">Production</mat-option>
                                    <mat-option value="option2">Staging</mat-option>
                                  </mat-select>
                                </mat-form-field>                                          
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Expiry Date</mat-label>
                                  <input matInput [matDatepicker]="picker">
                                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>                                          
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>Expiry action</mat-label>
                                  <mat-select>
                                    <mat-option value="option1">Default Policy</mat-option>
                                  </mat-select>
                                </mat-form-field>                                          
                            </div>
                        </div>   
                    </div> 
                </mat-tab>
            </mat-tab-group>
            <div class="ob-container-footer-section">                
                <button mat-raised-button (click)="previousTab()" [ngClass]="{'hide-btn': selectedIndex === 0}">Previous</button>
                <button mat-raised-button color="primary" (click)="nextTab()" [ngClass]="{'hide-btn': selectedIndex === tabLabels.length - 1}">Next</button>
                <button mat-raised-button color="primary" style="display: none;" [ngClass]="{'show-btn': selectedIndex === tabLabels.length - 1}">Finish</button>
            </div>
        </div>
      </div>
    </div>
</div>