.onboarding-card{
    .conboarding-tab-wizard{
        &.mat-mdc-tab-group {
            display: flex;
            flex-direction: row;
            .mat-mdc-tab-labels {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
            }
            .mat-mdc-tab-header {
                flex: 0 0 30%;
                padding: 1rem;
                background: rgba(var(--lp-background-rgb), .5);
                
            .on-boarding-header-cont {
                display: flex;
                width: 100%;
                flex: 0 0 100%;
                gap: 1rem;
                .ob-step-number {
                    width: 40px;
                    height: 40px;
                    background: var(--lp-primary);
                    color: var(--lp-white);
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                .ob-title-section {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 0.2rem;
                    .ob-header-title {
                        font-size: 1.2rem;
                        color: var(--lp-black);
                        font-weight: 500;
                    }
                    .ob-header-subtitle {
                        font-size: 0.8rem;
                        color: var(--lp-grey);
                        font-weight: 500;
                    }
                }
            }
            }
            .mdc-tab__content, .mdc-tab__text-label {
                width: 100%;
                flex: 0 0 100%;
            }
            .mdc-tab{
                padding: 1rem;
                height: auto;
                border-radius: 8px !important;
                overflow: hidden;
                &.mat-mdc-tab {
                    .mdc-tab-indicator__content--underline{
                        display: none;
                    }
                }
                &.mdc-tab--active, &:hover {
                    background-color: rgba(var(--lp-primary-rgb),0.3);
                }
            }
            .mat-mdc-tab-body-wrapper{
                width: 100%;
                .ob-container-section{
                    padding: 1rem;
                    .ob-cont-title{
                        font-size: 22px;
                        margin-bottom: 0.25rem;
                    }
                    .ob-cont-subtitle{
                        font-size: 16px;
                        margin-bottom: 1rem;
                        color: rgba(var(--lp-black-rgb), 0.5);
                    }
                }
            }
        }
    }    
    .ob-container-footer-section{
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid var(--lp-text-light);
        gap: 0.75rem;
        button{
            &.mat-primary{
                background-color: var(--lp-primary);
                color: var(--lp-white);
            }
            &.hide-btn{
                display: none;
            }
            &.show-btn{
                display: block!important;
            }
        }
    }
}