<div class="legal-main-container">
    <mat-toolbar class="lp-header-section">
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <app-header class="w-100"></app-header>
    </mat-toolbar>
    <mat-drawer-container autosize class="legal-mat-drawer-container">
        <mat-drawer mode="over" #drawer class="legal-mat-drawer-sidenav">
            <app-sidenav></app-sidenav>
        </mat-drawer>
        <mat-drawer-content class="legal-mat-drawer-content">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
  </div>