.violation-constraints-modal{
    .mat-mdc-dialog-content{
        padding: 0!important;
    }
    table{
        border-bottom: 1px solid rgba(var(--lp-text-light-rgb),0.8);
        tr{
            th{
                font-size: 1rem;
                font-weight: 500;
            }
            td{
                &:first-child{
                    font-weight: 500;
                }                
                .license-table-action{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    mat-icon{
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .violation-tag{
                    width: auto;
                    height: 26px;
                    padding: 5px 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 22px;
                    float: left;
                    font-size: 0.8rem;
                    font-weight: 500;
                    &.silent{
                        background-color: var(--lp-grey);
                        color: var(--lp-white);
                    }
                    &.default{
                        background-color: var(--lp-text-warning);
                        color: var(--lp-black);
                    }
                    &.breach{
                        background-color: var(--lp-warning);
                        color: var(--lp-white);
                    }
                    &.no-violation{
                        background-color: var(--lp-success);
                        color: var(--lp-white);
                    }
                }
                .violation-message {
                    max-width: 450px;
                }
            }
        }
    }
    
    .violation-tag{
        width: auto;
        height: 26px;
        padding: 5px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        float: left;
        font-size: 0.8rem;
        font-weight: 500;
        &.silent{
            background-color: var(--lp-grey);
            color: var(--lp-white);
        }
        &.default{
            background-color: var(--lp-text-warning);
            color: var(--lp-black);
        }
        &.breach{
            background-color: var(--lp-warning);
            color: var(--lp-white);
        }
        &.no-violation{
            background-color: var(--lp-success);
            color: var(--lp-white);
        }
    }
}