<div class="lp-header-container">
    <div class="left-area">
        <a href="#">
            <img src="../../../assets/images/mobiliyeye-licensing-logo.png" alt="Mobiliyeye Licensing Logo" />
        </a>
    </div>    
    <div class="right-area">
        <button mat-button [matMenuTriggerFor]="menu" aria-label="user settings" class="user-profile-button-container">
        <div class="user-profile-button-section">
            <div class="user-profile-text-cont">
                <h2>John Doe</h2>
                <h3>johndoe&#64;email.com</h3>
            </div>
            <div class="user-profile-avatar">
                <img src="../../../assets/images/avatar.png" alt="user avatar">
            </div>
        </div>
      </button>
      <mat-menu #menu="matMenu" xPosition="before" class="user-profile-dropdown-container">
        <button mat-menu-item>
          <mat-icon class="material-symbols-outlined">settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon class="material-symbols-outlined">power_settings_new</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </div>
</div>