@import "variables";

.lp-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header {
        padding: 1em 0;
        text-align: center;
    }
}
.user-profile-button-container{
    height: 50px;
    .user-profile-button-section {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        .user-profile-text-cont {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            h2 {
                font-size: 1rem!important;
                line-height: 1rem;
                margin: 0;
            }
            h3 {
                font-size: 0.75rem!important;
                line-height: 0.8rem;
                margin: 0;
                font-weight:500;
            }
        }
        .user-profile-avatar {
            width: 40px;
            height: 40px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
.user-profile-dropdown-container{
    width: 250px;
}