.application-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  overflow: hidden;

  &.selected {
    border: 2px solid var(--lp-primary);
  }

  .card-image {
    width: 60px;
    height: 60px;
    background-color: var(--lp-background);

    img {
      width: 100%;
    }
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0.75rem;

    .card-title {
      font-size: 1.25rem;
      margin: 0;
    }

    .card-action {
      display: flex;
      align-items: center;

      .selected-icon {
        display: flex;
        color: var(--lp-primary);
      }
    }
  }
}
