.reseller-title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    h2{
        margin: 0;
    }
}
.rd-profile-section-card{
    .rd-profile-header{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
        align-items: center;
        justify-content: center;
        .rd-profile-img{
            width: 100px;
            height: 100px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .rd-profile-title{
            font-size: 1.25rem;
            font-weight: 500;
        }
    }
    .rd-profile-basic-details-column {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--lp-text-light);
        .drp-row {
            display: flex;
            align-items: center;
            height: 40px;
            padding: 0 1rem;
            gap: 0.75rem;
            border-top: 1px solid var(--lp-text-light);
        }
    } 
    .rd-profile-button{
        padding: 1rem;
        button{
            background-color: var(--lp-primary);
            color: var(--lp-white);
            width: 100%;
        }
    }  
}
.rd-details-section-card{
    padding: 10px;
    .rd-details-tabs{
        .mat-mdc-tab-labels {
            border-bottom: 1px solid var(--lp-text-light);
        }
        .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label{
            color: var(--lp-primary);
        }
        .mat-mdc-tab .mdc-tab-indicator__content--underline{
            border-color: var(--lp-primary);
        }
        .tab-content{
            padding: 1rem;
            .rdd-counter-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                padding: 2rem;
                border: 2px solid var(--lp-text-light);
                border-radius: 10px;
                .counter {
                    font-size: 2rem;
                }            
                .title {
                    font-size: 1.25rem;
                    color: var(--lp-grey);
                }
            }            
            .reseller-card-header {
                display: flex;
                justify-content: flex-end;
                mat-form-field {
                    margin-bottom: -1.25em;
                }
            }             
            table{
                border-bottom: 1px solid rgba(var(--lp-text-light-rgb),0.8);
                tr{
                    th{
                        font-size: 1.1rem;
                        font-weight: 500;
                    }
                    td{
                        &:first-child{
                            font-weight: 500;
                        }               
                        .reseller-table-action{
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            mat-icon{
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
}
.accounts-settings-contaniner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    h3{
        margin: 0;
    }
}
.account-settings-col {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--lp-text-light);
    .as-row {
        display: flex;
        border-top: 1px solid var(--lp-text-light);
        .title, .content {
            flex: 1;
            height: 50px;
            display: flex;
            align-items: center;
            color: var(--lp-grey);
            padding: 0 10px;
            font-size: 1rem;
        }
        .title{
            font-weight: 500;
        }
    }
}
.deactivate-account {
    padding: 1rem 0 0;
}