<div mat-dialog-container class="lp-common-modal-container">
  <!-- Progress Bar -->
  <div *ngIf="progressBar">
    <mat-progress-bar mode="indeterminate" value="30"></mat-progress-bar>
  </div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Add Account</span>
      <button mat-icon-button mat-dialog-close>
        <mat-icon class="material-symbols-outlined">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <form novalidate (ngSubmit)="addAccount(this)" #f="ngForm">
    <mat-dialog-content>
      <div class="row  dense-2">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Account Name</mat-label>
            <input matInput [(ngModel)]="Name" name="Name" required>
            <mat-error *ngIf="f.controls['Name']?.invalid && (f.controls['Name'].dirty || f.controls['Name'].touched)">
              Please enter a valid account name.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="Email" name="Email" required email>
            <mat-error *ngIf="f.controls['Email']?.invalid && (f.controls['Email'].dirty || f.controls['Email'].touched)">
              Please enter a valid email address.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Phone</mat-label>
            <input type="tel" matInput [(ngModel)]="PhoneNumber" prefix="+" [showMaskTyped]="true" mask="000 000 000 000" name="PhoneNumber" required>
            <mat-error *ngIf="f.controls['PhoneNumber'].hasError('pattern')">Please enter a valid phone number with country code.</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="f?.invalid">Add</button>
    </mat-dialog-actions>
  </form>
</div>
