.reseller-title-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    h2{
        margin: 0;
    }
    button{
        background-color: var(--lp-primary);
    }
}
.reseller-card-cont{
    padding: 10px 10px 5px 10px;
    .reseller-card-header {
        display: flex;
        justify-content: flex-end;
        mat-form-field {
            margin-bottom: -1.25em;
        }
    }
    table{
        border-bottom: 1px solid rgba(var(--lp-text-light-rgb),0.8);
        tr{
            th{
                font-size: 1.1rem;
                font-weight: 500;
            }
            td{
                &:first-child{
                    font-weight: 500;
                }
                .reseller-name-column{
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    font-weight: 500;
                    mat-icon {
                        font-size: 1rem;
                        width: 1rem;
                        height: 1rem;
                    }
                    &:hover{
                        color: var(--lp-primary);
                        cursor: pointer;
                    }
                }                
                .reseller-table-action{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    mat-icon{
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}