@import "assets/scss/variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    background: $lp-background;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
