@use '@angular/material' as mat;
/*legal portal variables*/
:root{
    --lp-primary: #0088ea;
    --lp-secondary: #263644;
    --lp-background: #f1f5f9;
    --lp-success: #27AE60;
    --lp-warning: #DF2029;
    --lp-text-warning: #FFE500;
    --lp-grey: #64748b;
    --lp-text-light: #d3d3d3;
    --lp-white: #ffffff;
    --lp-black: #414141;

    --lp-primary-rgb: 0,136,234;
    --lp-secondary-rgb: 38,54,68;
    --lp-background-rgb: 241,245,249;
    --lp-success-rgb: 39,174,96;
    --lp-warning-rgb: 223,32,41;
    --lp-grey-rgb: 100,116,139;
    --lp-text-light-rgb: 211,211,211;
    --lp-white-rgb: 255,255,255;
    --lp-black-rgb: 65,65,65;

    --lp-menu-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    --lp-card-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    background: var(--lp-background);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.main-container{
    padding: 1rem;
}
.card{
    border: none;
    box-shadow: var(--lp-menu-shadow);
}
.lp-common-modal-container{
    width: 100%;
    mat-toolbar{
        background-color: var(--lp-white);
        border-bottom: 1px solid var(--lp-text-light);
        mat-toolbar-row{
            display: flex;
            justify-content: space-between;
        }
    }
    mat-dialog-content{
        padding: 1rem!important;
    }
    mat-dialog-actions{
        display: flex;
        justify-content: flex-end; 
        border-top: 1px solid var(--lp-text-light);
    }
}
.dense-2 {
    @include mat.all-component-densities(-2);
  }