<div mat-dialog-container class="lp-common-modal-container">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Create License</span>
        <button mat-icon-button mat-dialog-close>
          <mat-icon class="material-symbols-outlined">close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-dialog-content>
      <div class="row  dense-2">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Application</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Account</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tenant</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Subscription plan</mat-label>
                <mat-select>
                  <mat-option value="silver">Silver</mat-option>
                  <mat-option value="gold">Gold</mat-option>
                  <mat-option value="diamond">Diamond</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Environment</mat-label>
                <mat-select>
                  <mat-option value="staging">Staging</mat-option>
                  <mat-option value="production">Production</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Expiry Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>              
        </div>
        <div class="col-sm-12 col-md-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Expiry Action</mat-label>
                <mat-select>
                  <mat-option value="autorenew">Auto Renew</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button >Create</button>
    </mat-dialog-actions>
  </div>