.lp-mat-nav-list{
    .mdc-list-item__primary-text{
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--lp-grey);
        &:hover, &:focus{            
            color: var(--lp-grey);
        }
    }
    .mat-nav-isloading{
        .mat-mdc-list-item-unscoped-content{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}