<mat-nav-list class="lp-mat-nav-list">
    <a mat-list-item routerLink="/onboarding" matTooltip="Onboarding" matTooltipPosition="right">
        <mat-icon class="material-symbols-outlined">editor_choice</mat-icon>
        <span>On Boarding</span>
    </a>
    <a mat-list-item routerLink="/applications" matTooltip="Applications" matTooltipPosition="right">
        <mat-icon class="material-symbols-outlined">apps</mat-icon>
        <span>Applications</span>
    </a>
    <a mat-list-item routerLink="/accounts" matTooltip="Accounts" matTooltipPosition="right">
        <mat-icon class="material-symbols-outlined">group</mat-icon>
        <span>Accounts</span>
    </a>
    <a mat-list-item routerLink="/subscriptionPlans" matTooltip="Subscription Plan" matTooltipPosition="right">        
        <mat-icon class="material-symbols-outlined">view_kanban</mat-icon>
        <span>Subscription Plan</span>
    </a>
    <a mat-list-item routerLink="/license" matTooltip="License" matTooltipPosition="right">
        <mat-icon class="material-symbols-outlined">description</mat-icon>
        <span>License</span>
    </a>
    <a mat-list-item routerLink="/reseller" matTooltip="Reseller" matTooltipPosition="right">
        <mat-icon class="material-symbols-outlined">work</mat-icon>
        <span>Reseller</span>
    </a>
    <a mat-list-item routerLink="/region/country" matTooltip="Region / Country" matTooltipPosition="right">
        <mat-icon class="material-symbols-outlined">public</mat-icon>
        <span>Region / Country</span>
    </a>
</mat-nav-list>
