.no-data-container{
    display: flex;
    flex-direction: column;
    grid-area: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    gap: 1rem;
    color: rgba(var(--lp-black-rgb), 0.5);
    .no-data-icon{
        font-size: 4rem;
        width: 4rem;
        height: 4rem;
    }
    .no-data-title{
        font-size: 1.5rem;
    }
    .no-data-description{
        font-size: 1rem;
    }
}