<div mat-dialog-container class="lp-common-modal-container">
  <!-- Progress Bar -->
  <div *ngIf="progressBar">
    <mat-progress-bar mode="indeterminate" value="30"></mat-progress-bar>
  </div>
  <form novalidate #f="ngForm">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Update Violation</span>
        <button mat-icon-button mat-dialog-close>
          <mat-icon class="material-symbols-outlined">close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-dialog-content>
      <div class="row dense-2">
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Overridden state</mat-label>
            <mat-select matInput required [(ngModel)]="ViolationState" name="ViolationState">
              <mat-option value="NoViolation">No Violation Policy</mat-option>
              <mat-option value="Silent">Silent Policy</mat-option>
              <mat-option value="Default">Default Policy</mat-option>
              <mat-option value="Breach">Breach Policy</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Reason of Update</mat-label>
            <textarea matInput required [(ngModel)]="ResolvedReason" name="ResolvedReason"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button (click)="updateState()" mat-button [disabled]="f.invalid">Update</button>
    </mat-dialog-actions>
  </form>
</div>
