<div mat-dialog-container class="lp-common-modal-container">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Edit Account</span>
      <button mat-icon-button mat-dialog-close>
        <mat-icon class="material-symbols-outlined">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-dialog-content>
    <div class="row  dense-2">
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Account Name</mat-label>
          <input matInput [(ngModel)]="Name">
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input type="email" matInput [(ngModel)]="Email">
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Phone</mat-label>
          <input type="tel" matInput [(ngModel)]="PhoneNumber">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="updateAccountDetail(accountId,this)">Edit</button>
  </mat-dialog-actions>
</div>
