/*legal portal variables*/
$lp-primary: #0088ea;
$lpsecondaty: #D25A29;
$lp-background: #f1f5f9;
$lp-success: #27AE60;
$lp-warning: #DF2029;
$lp-grey: #64748b;
$lp-white: #ffffff;
$lp-black: #414141;
$lp-menu-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06)!important;
$lp-card-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
$lp-card-shadow2: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);