.application-overview-bottomsheet-container{
    mat-bottom-sheet-container{
        width: 100vw;
        min-height: 50vh;
        padding: 0;
        max-width: calc(100vw - 60px)!important;
        margin-left: 60px;
        .application-overview-bottomsheet{
            display: flex;
            flex-direction: column;
            height: 100%;
            .aob-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid var(--lp-text-light);
                height: 50px;
                padding: 10px;
                .aob-title{
                    font-size: 1rem;
                    font-weight: 500;
                }
                button{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .aob-body{
                flex:1;
                width: 100%;
                display: flex;
                .aob-main-cont{
                    width: 70%;
                    border-right: 1px solid var(--lp-text-light);
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .aob-c-card {
                        flex: 0 1;
                        width: 100%;
                        border: 2px solid var(--lp-text-light);
                        padding: 10px;
                        border-radius: 6px;
                        .aob-cc-title {
                            font-size: 1.15rem;
                            font-weight: 500;
                            margin-bottom: 0.5rem;
                        }
                        .aob-cc-row {
                            display: flex;
                            .aob-cc-col {
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                .aob-cc-label {
                                    font-size: 0.8rem;
                                    color: var(--lp-grey);
                                }
                                .aob-cc-input {
                                    font-size: 1rem;
                                    font-weight: 500;
                                    display: flex;
                                    gap: 0.5rem;
                                    .aob-tenants-tab-cont{
                                        border: 1px solid rgba(var(--bs-black-rgb), 0.5);
                                        color: var(--bs-black);
                                        text-decoration: none;
                                        padding: 3px 6px;
                                        margin-top: 5px;
                                        border-radius: 6px;
                                        &.selected{
                                            color: var(--lp-primary);                                            
                                            border: 1px solid var(--lp-primary);
                                            display: flex;
                                            align-items: center;
                                            gap: 0.5rem;
                                            mat-icon{
                                                display: block!important;
                                                font-size: 1.2rem;
                                                width: 1.2rem;
                                                height: 1.2rem;
                                            }
                                        }
                                        &:hover{
                                            color: var(--lp-primary);                                            
                                            border: 1px solid var(--lp-primary);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .aob-sidebar{
                    width: 30%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .aob-sp-title {
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    .aob-sb-card {
                        border: 1px solid var(--lp-text-light);
                        border-radius: 6px;
                        .aob-sb-row {
                            width: 100%;
                            border-bottom: 1px solid var(--lp-text-light);
                            height: 44px;
                            display: flex;
                            align-items: center;
                            &:last-child {
                                border-bottom: none;
                            }
                            .aob-sb-title {
                                flex: 1;
                                font-size: 1rem;
                                font-weight: 500;
                                padding: 0 0 0 10px;
                            }
                            .aob-sb-cont {
                                flex: 1;
                                font-size: 1rem;
                                font-weight: 400;
                                padding: 0 0 0 10px;
                                position: relative;
                                &:before {
                                    content: ":";
                                    position: absolute;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}