<div mat-dialog-container class="lp-common-modal-container violation-constraints-modal">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Machine Details</span>
      <button mat-icon-button mat-dialog-close>
        <mat-icon class="material-symbols-outlined">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-dialog-content>
    <div>
      <div class="row dense-2">
        <div class="col-sm-12">
          <mat-list role="list" class="machine-info-details-list">
            <mat-list-item role="listitem">
              <div class="machine-list-inner-cont">
                <div class="machine-list-inner-title">Machine name</div>
                <div class="machine-list-inner-desc">datahub Production</div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <div class="machine-list-inner-cont">
                <div class="machine-list-inner-title">MAC Address</div>
                <div class="machine-list-inner-desc">{{macAddress}}</div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <div class="machine-list-inner-cont">
                <div class="machine-list-inner-title">Processor ID</div>
                <div class="machine-list-inner-desc">{{processorId}}</div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <div class="machine-list-inner-cont">
                <div class="machine-list-inner-title">Volume Serial</div>
                <div class="machine-list-inner-desc">{{volumeSerial}}</div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <div class="machine-list-inner-cont">
                <div class="machine-list-inner-title">Domain</div>
                <div class="machine-list-inner-desc">{{domain}}</div>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem">
              <div class="machine-list-inner-cont">
                <div class="machine-list-inner-title">Hash</div>
                <div class="machine-list-inner-desc">{{hash}}</div>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>

